/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 déc. 2014, 00:33:33
    Author     : dev
*/

/*
    .class
    #id
*/

h1 {
    font-size: 200%;
    color: red;
}

#avatar{
	position:relavite;
	left:10px;
	top:10px;
}

#avatar img{
	width: 200px;
	height: 200px;
}

#name{
	position:relative;
	top: -150px;
	left: 200px;
}

table
{
	border: 2px solid black;
}

tr
{
	border: 2px solid black;
}

td
{
	border: 1px solid black;
}